@import 'config';

* {
  margin: 0;
  padding: 0;
}

body {
  background: $main-color;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}